.members {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  .member-container {
    margin: 1rem auto;
    justify-content: center;
    display: flex;
    height: fit-content;

    .card {
      height: fit-content;

      .art {
        display: flex;
        justify-content: center;
        height: 30%;
        svg {
          width: 80%;
          fill: #424242;
          height: 100px;
        }
        img {
          width: 50%;
          height: 100%;
        }
      }

      .dropdown {
        color: black;
        width: 100%;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem 0;
        .dropdownList {
          width: 100%;
          margin: 0 auto;

          ul {
            width: 100%;
            padding: 1rem 0;
            li {
              color: black;
              width: 100%;
              display: inline;

              img {
                width: 40px;
                height: 40px;
                cursor: pointer;
                border-radius: 50% 50%;

                &.selected {
                  border: 2px solid rebeccapurple;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
}
