.search-bar {
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 3rem 0;
    height: fit-content;
    .wrapper {
      width: 70%;
  
      input {
        padding: 0.5rem 1rem;
        margin-left: 4rem;
        width: 80%;
        border-radius: 0.4rem;
        background-color: transparent;
        border: 1px solid rebeccapurple;
        outline: rebeccapurple;
        color: white;
  
        &:focus{
          box-shadow: 0px 0px 5px white;
        }
        &:hover {
          outline: white;
        }
      }
    }
  }
  